*.o*
*.bin
*.jar
config
*.img
*.*project
*~
bin/
src/scripts/floppy.img
scripts/build*
/nbproject/
*.kate-swp
*.swp
*.patch
doc/doxygen/*
*.iso
.settings
.config
andromeda.project
andromeda.tags
andromeda.workspace*
serial_out
